@model mvc_entity.ViewModels.CreateBookViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Novo Livro</h2>

<form>
    <div class="form-group">
        @Html.LabelFor(model => model.Nome)
        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite o nome do livro" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ISBN)
        @Html.EditorFor(model => model.ISBN, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite o ISBN" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DataLancamento)
        @Html.EditorFor(model => model.DataLancamento, new { htmlAttributes = new { @class = "form-control", placeholder = "00/00/0000" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CategoriaId)
        @Html.DropDownListFor(m => m.CategoriaId, Model.CategoriaOpcoes, "Selecione uma opcao...", new { htmlAttributes = new { @class = "form-control"} })
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>